# =====================
# Environment files
# =====================
.history/

# Virtual environments
venv/
.env/
media_moderation/

# =====================
# Python cache / compiled
# =====================
__pycache__/
*.py[cod]
*$py.class

# =====================
# Dependencies
# =====================
node_modules/
vendor/
uploads/
posts/
images/
videos

# =====================
# Build / artifacts
# =====================
dist/
build/
*.egg-info/

# =====================
# Logs
# =====================
*.log


# =====================
# OS / editor files
# =====================
.DS_Store
.vscode/
.idea/


video_workerOG.py
image_workerOG.py
test.py